#container{
    width: 65%;
    margin: auto;
}

body{
    background-image: url(../img/bg.jpg);
    width: 100%;
}

header img{
    width: 15%;
    margin-top: 3%;
}

header nav{
    float: right;
    margin-top: 3%;
}

header nav a{
    text-decoration: none;
    margin-left: 2em;
    color: whitesmoke;
    font-family: verdana, sans-serif;
    font-size: .8em;
}

header nav a:hover{
    text-decoration: underline;
}

article h1{
    font-family: 'Lobster', cursive;
    color: aliceblue;
    font-size: 3em;
    text-align: center;
    margin-top: 35%;
}

article h3{
    font-family: sans-serif;
    color: aliceblue;
    font-size: .6em;
    text-align: center;
    padding: 2em;
    letter-spacing: .4em;
}

footer p{
    text-align: center;
    color: aliceblue;
    margin-top: 20%;
}

footer nav{
   margin-left: 41%;
    margin-top: 3%;
       
}

footer img{
    width: 10%;
}

footer nav a img:hover{
    filter: opacity(50%);
    
}